fastapi
uvicorn[standard]
gunicorn
pydantic
email-validator
google-cloud-aiplatform
google-cloud-storage
supabase
python-dotenv
python-multipart
requests
passlib[bcrypt]
Pillow
python-jose[cryptography]